*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Mulish', sans-serif;
    font-weight: 200;
    max-width: 100%;
}

.overflow{
    overflow: hidden;
}

/*HEADER*/

.header{
    height: 100vh;
    background: url(img/background.jpg) fixed no-repeat;
    background-size: auto;
}

.header-wrapper{
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    position: relative;
}

.navbar{
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-around;
    transition: 0.3s;
}

.active::after{
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background-color: white;
    margin-top: 5px;
}

.logo{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    z-index: 99;
    
}

.logo img{
    height: 60%;
}

.logo p{
    text-transform: uppercase;
    font-weight: bold;
}

.list-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 100%;
}

a{
    color: white;
    font-size: 18px;
    transition: 0.5s;
    font-size: 20px;
}

.list-items a:hover, .list-items .active{
    color: #0099ff;
}

/*NAV SCROLLED*/

.nav-scrolled{
    width: 100%;
    transition: 0.4s;
    background-color: rgb(24, 24, 24);
    height: 60px;
    z-index: 3;
    position: fixed;
}

/*NAV MOBILE*/

.hamburger{
    display: none;
}

.line{
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 5px;
}


.header .banner{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: rgb(233, 233, 233);
    text-transform: uppercase;
    text-align: center;
}


.banner h1{
    font-size: 71px;
    padding: 20px;
    opacity: 0;
    animation: banner 1.5s forwards;
}


.banner h2{
    font-size: 36px;
    line-height: 40px;
    padding: 20px;
    opacity: 0;
    animation: banner 1.5s 0.5s forwards ;
}

.buttons{
    width: 500px;
    display: flex;
    justify-content: space-evenly;
}

.btn{
    width: 200px;
    height: 60px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    transition: 0.3s;
}

.btn:hover{
    background-color: #0099ff;
    border-color: #0099ff;
}

@keyframes banner{
    0%{
        transform: translateY(1000px) rotateY(120deg);
    }
    100%{
        transform: translateY(0);
        opacity:1;
    }
}



/*SECTIONS*/

.title h2{
    font-size: 50px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

.title{
    margin: 10px 0 40px 0;
}

.section{
    width: 100%;
    margin: 30px 0;
}

/*ABOUT ME*/

.profile-pic{
    width: 200px;
    height: 200px;
    margin: 50px auto;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic-img{
    width: 100%;
    height: 100%;
}

.about-me-content{
    width: 500px;
    margin: 15px auto;
    text-align: center;
}

/*TECHNOLOGIES*/

#skills{   
    background-color: rgb(236, 236, 236);
    margin-bottom: 0;
    padding: 40px;
}   

.skills-wrapper{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
}

.skills-wrapper .tech{
    width: 40%;
}

.h3{
    font-size: 30px;
}

.align-right{
    text-align: right;
}

.tech-img{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tech-img-reverse{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.tech .tech-img-placeholder{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-right-none{
    margin: 40px 0 40px 10px;
}

.margin-left-none{
    margin:40px 10px 40px 0;
}

.tech-img-placeholder img{
    height:  100%;
}

/*PROJECTS*/

.projects-main{
    width: 80%;
    margin: 0 auto;
}

.project{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 130px;
}

.right{
    flex-direction: row-reverse;
}

.project-img-placeholder{
    width: 400px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.project-img-placeholder img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.project-img-placeholder .view-project{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.project-img-placeholder .view-project i{
    font-size: 50px;
}

.project-description{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    height: 100%;
}

.project-description h4{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 300;
}

.project-description p{
    font-size: 16px;
}

.project-description h5{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
}

.project-description .project-used-tech{
    display: flex;
    justify-content: flex-start;
}

.project-description .project-used-tech div{
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 20px;
    justify-content: center;
    align-items: center;
    margin: 10px 20px 10px 0;
    border-radius: 5px;
    color: white;
    background-color: #0099ff;
    font-size: 16px;
}

.project-used-tech div p{
    text-align: center;
}

/*RESUME*/

.parallax{
    background: url('img/resume\ parallax.jfif') no-repeat fixed center 100%;
    background-size: auto;
    height: 30vh;
}

.parallax-content{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.parallax-content h3{
    font-size: 30px;
}



/* FOOTER*/

footer{
    height: 200px;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

footer .icons{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

footer .icons i{
    font-size: 30px;
    text-align: center;
}


footer .arrow i{
    text-align: center;
    color: white;
    font-size: 40px;
}

/*ICONS HOVER*/

.fab{
    transition: 0.3s;
}

.fa-facebook-f:hover{
    color:#1877f2;
}

.fa-instagram:hover{
    color:#eb256d;
}

.fa-github:hover{
    color: #e0c143;
}

.fa-arrow-alt-circle-up:hover{
    transition: 0.3s;
    color: #0099ff;
}

/*responsiveness*/

@media screen and (max-width: 1850px){
    .tech h3{
        font-size: 26px;
    }

    .tech .tech-img-placeholder{
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 1600px){
    .tech h3{
        font-size: 22px;
    }

    .tech .tech-img-placeholder{
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 1350px){
    .navbar{
        height: 40px;
    }

    .navbar ul li a{
        font-size: 12px;
    }

    .banner h1{
        font-size: 50px;
    }

    .banner h2{
        font-size: 26px;
        line-height: 20px;
    }

    .btn{
        width: 160px;
        height: 45px;
        font-size: 12px;
    }
    
    .about-me-content{
        width: 450px;
        font-size: 12px;
    }

    .title h2{
        font-size: 40px;
        margin: 10px 0 10px 0;
        padding: 10px;
    }

    .profile-pic{
        width: 150px;
        height: 150px;
    }


    .tech{
        width: 30%;
    }

    .tech h3{
        font-size: 16px;
    }

    .tech .tech-img-placeholder{
        width: 50px;
        height: 50px;
    }

    .margin-right-none{
        margin: 15px 0 15px 10px;
    }
    
    .margin-left-none{
        margin: 15px 10px 15px 0;
    }

    .project-img-placeholder{
        width: 300px;
        overflow: hidden;
        border-radius: 20px;
    }

    .project-description{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 60%;
    }

    .project-description h4{
        font-size: 18px;
    }

    .project-description p{
        font-size: 12px;
    }

    .project-description h5{
        font-size: 16px;
    }
}

@media screen and (max-width: 1250px){
    .skills-wrapper .tech h3{
        font-size: 14px;
    }

    .project{
        margin-bottom: 20px;
    }

    .project-img-placeholder{
        width: 250px;
    }

    .project-description h4{
        font-size: 16px;
    }
    
    .project-description p{
        font-size: 12px;
    }
    
    .project-description h5{
        font-size: 16px;
    }
    
    .project-description .project-used-tech p{
        width: 60px;
        height: 20px;
        font-size: 12px;
    }
}

@media screen and (max-width: 1040px){
    .navbar{
        height: 30px;
    }

    .navbar .list-items li a{
        font-size: 10px;
    }

    .logo p{
        font-size: 14px;
    }

    .banner h1{
        font-size: 36px;
    }

    .banner h2{
        font-size: 20px;
    }

    .btn{
        width: 120px;
        height: 40px;
        border: 1px solid white;
        font-size: 10px;
    }


    .profile-pic{
        width: 100px;
        height: 100px;
        margin: 30px auto;
    }

    .about-me-content{
        width: 350px;
    }

    .about-me-content p{
        font-size: 10px;
    }

    #skills{
        padding: 10px;
    }

    .tech .tech-img-placeholder{
        width: 40px;
        height: 40px;
    }

    .parallax{
        height: 25vh;
    }

    .project{
        margin-bottom: 20px;
    }

    .project-description{
        height: 80%;
    }

    .project-description h4{
        font-size: 14px;
    }

    footer{
        height: 150px;
    }
    
    footer .icons i{
        font-size: 20px;
    }

    footer .arrow i{
        font-size: 20px;
    }

}

@media screen and (max-width: 856px){
    .tech{
        width: 45%;
    }

    .project{
        height: 35vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .project .project-img-placeholder{
        height: 200px;
    }


    .project-description h4{
        font-size: 16px;
    }

    .project-description p{
        font-size: 10px;
    }

    .project-description h5{
        font-size: 12px;
    }

    .project-description .project-used-tech{
        justify-content: center;
    }

    .project-description .project-used-tech p{
        font-size: 10px;
    }
}

@media screen and (max-width: 770px){
    .banner h1{
        animation: none;
        opacity: 1;
    }

    .banner h2{
        animation: none;
        opacity: 1;
    }

    .navbar{
        justify-content: flex-start;
    }
    
    .nav-scrolled{
        height: 50px;
    }

    .logo{
        margin-left: 30px;
    }

    .list-items{
        flex-direction: column;
        position: absolute;
        top: 0;
        width: 100%;
        height: 40vh;
        background-color: black;
        z-index: 3;
        visibility: hidden;
    }

    .hamburger{
        z-index: 10;
        display: block;
        position: absolute;
        top: 25%;
        right: 30px;
    }

    .title h2{
        font-size: 25px;
    }
    
    .skills-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tech-mobile{
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: center;
    }

    .tech-mobile .h3{
        text-align: center;
        font-size: 18px;
    }

    .tech-img-mobile{
        display: flex;
        justify-content: center;
        margin: 10px 0;
        flex-wrap: wrap;
    }

    .tech-img-mobile .tech-img-placeholder{
        height: 40px;
        margin: 10px;
    }

    .project-used-tech p{
        width: 50px;
    }
}

@media screen and (max-width: 560px){
    .logo{
        width: 40%;
    }

    .logo p{
        font-size: 12px;
    }
    .title h2{
        font-size:20px;
    }

    .parallax{
        height: 20vh;
    }

    .parallax-content h3{
        font-size: 20px;
    }

    .btn{
        width: 80px;
        height: 30px;
        font-size: 8px;
    }
}

@media screen and (max-width:430px){
    .tech .tech-img-placeholder{
        width: 30px;
        height: 30px;
    }

    .tech-mobile .h3{
        font-size: 15px;
    }
    
    .project-description p{
        font-size: 9px;
    }

    .project-description h5{
        font-size: 10px;
    }

    .project .project-used-tech div{
        width: 40px;
        height: 18px;
        margin: 10px;
    }
}
